<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper>
    <!--登录接口  case -->
    <select id="loginCase" parameterType="Integer" resultType="com.tester.model.LoginCase">
        select * from loginCase where id = #{id}
    </select>

    <!--添加用户 case -->
    <select id="addUserCase" parameterType="Integer" resultType="com.tester.model.LoginCase">
        select * from addUserCase where id = #{id}
    </select>

    <!-- 添加用户sql -->
    <select id="addUser" parameterType="com.tester.model.AddUserCase" resultType="com.tester.model.User">
        select *  from  user where
        userName = #{userName}
        and userName = #{userName}
        and password = #{password}
        and age = #{age}
        and sex = #{sex}
        and permission = #{permission}
        and isDelete = #{isDelete}
    </select>
</mapper>